.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: cornsilk;
}
.sidebar-container {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: cornflowerblue;
}
.content-container {
  width: 80%;
  height: 100vh;
}
.navigation-container > ul {
  list-style-type: none;
}
.navigation-container > ul > li {
  width: 100%;
  height: 50px;
  /* background-color: rgba(95, 158, 160, 0.478); */
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.navigation-container > ul > li > a {
  text-decoration: none;
  color: whitesmoke;
}
.navigation-container > ul > li:hover {
  font-weight: 600;
  background-color: rgba(95, 158, 160, 0.97);
}
.imgBan {
  width: 100%;
  height: 200px;
}
.buttonClass {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}
.ul-flex {
  list-style-type: none;
}
.ul-flex > li {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.ul-flex > li > a {
  text-decoration: none;
  color: blue;
}
.ul-flex > li > a:hover {
  font-weight: 600;
  background-color: lightskyblue;
  color: black;
}
.student-create {
  background-color: aqua;
}
.imgBTS {
  width: 100%;
  height: 250px;
}
.student-create {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50vh;
}
.card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 50vh;
}

.buttonDiv {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}
.update-student {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.student-update {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
